.mission{
    margin:4rem 6rem;
    color: #333;
    text-align: center;
}


.mission h1{
    font-size: 3rem;
    background: linear-gradient(to right, #ff6b6b, #9d65c9); /* Mélange de violet et rose */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    
    margin-bottom: 0.5rem;}



.mission p {
    font-size: 1.2rem;
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.first-des-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}


.des-text{
    width: 45%;
    text-align: start;
    font-size:1.1rem;
    line-height: 1.6;
    color: #555;
    font-family: 'Roboto', sans-serif; /* Utilisation d'une police Google Fonts */
}

.des-text h2{
    font-size: 2.5rem; /* Augmentation de la taille pour un titre plus marqué */
    padding-bottom: 1rem;
    color: #333;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif; /* Utilisation d'une autre police Google Fonts */
    font-weight: bold;
}

.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;

}

.image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px -1px 62px -18px rgb(0, 0, 0, 0.19 );
}

.image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}


@media screen and (max-width:850px){ 
    .mission{
        margin: 4rem 2rem;
    }
    .first-des{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    
    }
    .first-des-reverse{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4.5rem;
    }
    

    .des-text{
        width: 100%;
    }

    .image{
        width: 100%;
        margin: 1.8rem 0 ;
    }
    .image img{
        height: 250px;
    }

    
}

/* Nouveau style pour les boutons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background:linear-gradient(to right, #ff6b6b, #5563de);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  /* Effet de survol sur les boutons */
  .btn:hover {
    background-color: black;
  }
  
  /* Style pour le texte et lien des boutons */
  .mission a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .mission a:hover {
    text-decoration: underline;
  }
  