.btn-primary {
    background-color: #fff; /* Couleur de fond */
    color: #000; /* Couleur du texte */
    border-color: #fff; /* Couleur de la bordure */
  }
  
  .btn-primary:hover {
    background-color: #fff; /* Couleur de fond au survol */
    color: #000; /* Couleur du texte au survol */
    border-color: #fff; /* Couleur de la bordure au survol */
  }
  
  .btn-loader {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #000;
    width: 0;
    transition: width 0.3s;
  }
  
  .btn-primary:hover .btn-loader {
    width: 100%;
  }
  